*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif; 
    scroll-padding-top: 40px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
}

.headBand{
    width: 100%;
    height: 15%;
    display: flex;
    background-color: rgb(190, 142, 142);
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-repeat: no-repeat;
}

.nav-sticky {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
    height: 45px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-sticky li {
    display: inline;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: beige;
    font-weight: 500;
    font-size: 18px;
}

.nav-item:not(:last-child){
    margin-right: 25px;
}

.container {
    padding: 20px 150px;
}

.presentation {
    margin-top: 40px;
    height: 600px;
}

.presentation-img {
    position: relative;
    margin: 0 auto;
    background-image: url(./ressource/presentation/jonathan.jpg);
    background-size: cover;
    background-position: center;
    width: clamp(300px, 40vw, 400px);
    height: 450px;
    border-radius: 5px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.4);
}

.presentation-txt {
    position: absolute;
    background-color: #8AA8CC;
    width: 300px;
    padding: 15px;
    bottom: -150px;
    right: calc(-1 * clamp(300px, 40vw, 400px) /4);
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.presentation-txt p {
    font-family: Open sans, sans-serif;
}

.presentation-txt span {
    font-weight: 500;
}


@media (max-width: 600px) {
    .container {
        padding: 0;
    }

    .presentation {
        height: 620px;
    }
    .presentation-img {
        box-shadow: none;
    }

    .presentation-txt {
        right: 0;
    }
}

.container.grid{
    padding: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media (max-width: 1023px) {
    .grid-container {
        grid-template-columns: repeat(1, 60%);
        justify-content: center;
    }
}


.form-group {
    padding: 0px 0px 8px 0px;
}

.form-group textarea {
    resize: both;
    max-width: 950px;
    max-height: max-content;
}


span.title   {
    font-size: 1.5em;
    color: #333;
}

#info {
    font-size: 1.2em;
}

.row.form-group {
    padding: 0px 0px 8px 0px; 
}

.accueil {
    background-color:  rgb(190, 164, 142);
}

.projet {
    background-color: #A7BED3;

}

.contact {
    display: flex;
    justify-content: center;
    background-color: #C9DDD5;
}

.contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #C9DDD5;

}

.contact-informations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-top: 15px;
}

.grid {
    padding: 10px;
}

.heading {
    text-align: center;
    margin-bottom: 25px;
}


.heading h1 {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #333;
    text-transform: uppercase;
    display: inline;
    font-size: 3rem;
    font-weight: 100;
    border-bottom: 3px double #333;
}



.slider-container {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 60vh;
    background-color: #121212;
    color: #fff;
    overflow: hidden;
    margin: 10px;
  }
  
  .slide-content {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .slide-content.active {
    display: block;
  }
  
  
  .slide-img {
    position: absolute;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
.link-zone {
    position: absolute;
    width: 60%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border: 2px solid #F1F1F1;
    border-radius: 5px;
    background-color: rgba(72, 72, 72, 0.668);
    z-index: 4;
}

.slide-link {
    color: #c9c9c9;
}

  .slide-title {
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: 400;
  }
  
  .slide-subtitle {
    position: absolute;
    margin-top: 10px;
    font-size: 20px;
    color: gray;
    font-weight: 300;
  }
  
  .slide-btn {
    position: absolute;
    margin-top: 40px;
    width: 200px;
    text-align: center;
    padding: 10px 15px;
    color: #cccccc;
    border: 2px solid gray;
    font-size: 24px;
    border-radius: 2px;
    cursor: pointer;
    z-index: 100;
    pointer-events: none;
  }
  
  .previous, .next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    background-color: rgba(102, 102, 102, 0.193);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .previous {
    left: 30px;
  }
  
  .next {
    right: 30px;
  }
  
  .previous img, .next img {
    pointer-events: none;
    width: 50%;
  }
  
  .previous:hover, .next:hover {
    background-color: rgba(102, 102, 102, 0.752);
  }
  

  @media (max-width: 600px) {
    .slider-container {
        width: 100%;
        height: 200px;
    }

    .grid-container {
        grid-template-columns: repeat(1, 100%);
    }

    .previous, .next {
        /* width: 40px; */
        /* height: 40px; */
        top: 35%;
    }

    .slide-title {
        font-size: 15px;
    }

    .slide-link {
        font-size: 10px;
    }
  }

.mixed-group {
    display: flex;
    flex-direction: row;
}

.mixed-group input {
    margin-right: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
    font-family: Raleway, sans-serif;
    margin-bottom: 10px;
}

.form-group label {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-bottom: 8px;
}

.form-group input, textarea {
    max-width: 45vw;
    min-width: 18vw;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: Lato;
    font-size: 17px;
    color: #333;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    background-color: #f4f4f4;
}

.form-group input:focus {
    outline: 1px solid #222222be;
}

.form-group button {
    font-size: 20px;
    min-width: 150px;
    display: block;
    margin: 10px auto;
    padding: 12px 15px;
    background-color: #8AA8CC;
    border: none;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
    color: #333;
    border-radius: 5px;
    font-family: Raleway;
    font-weight: 550;
    cursor: pointer;    
}

.form-group button:hover {
    background-color: #7992b1;
}

.loader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
    background: rgb(248, 213, 161);
}

.img-loader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    color: #505050;
}

.img-loader img {
    width: 150px;
}

.hammer img{
    width: 200px;
    margin-right: 30px;
    transform: rotate(50deg);
    animation: hit 1s infinite ease-out alternate;
}

.cog img{
    width: 100px;
    animation: spin 4s infinite;
}

@keyframes hit {
    to{
        rotate: 50deg;
    }
}

@keyframes spin {
    to {
        rotate: 360deg;
    }
}


.dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dot {
    margin-right: 45px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #333;
    animation: loader 0.6s infinite ease-out alternate;
}

.loaderMessage {
    margin-top: 40px;
}

.loaderMessage h2 {
    font-size: 45px;
    font-family: Open, sans-serif;
    font-weight: 200;
    color: #333;
}

.loaderMessage h2 span {
    font-weight: 700;
    color: rgb(117, 156, 247);
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    margin-right: 0;
    animation-delay: 0.4s;
}

@keyframes loader {
    to {
        transform: translateY(-40px);
    }
}

/* .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
} */

/* .container {
    width: 100%;
    height: 100%;
    background-color: #333;
    background-image: url(ressource/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cadre {
    position: relative;
    box-sizing: content-box;
    width: 240px;
    height: 35px;
    border: solid #333 5px;
    border-radius: 3px;
    background-color: rgba(76, 76, 76, 0.9);
    left: 350px;
    right: 500px;
    top: 40%;
    padding: 20px;
    text-align: center;
    overflow-wrap: break-word;
}

@media screen and (max-width: 626px) {
    .cadre {
        box-sizing: content-box;
        border: solid #333 5px;
        border-radius: 3px;
        background-color: rgba(76, 76, 76, 0.9);
        left: 30%;
        margin-right: 10px;
        text-align: center;
        overflow-wrap: break-word;
    }

    .container {
        width: 100vh;
        background-color: #333;
        background-image: url(ressource/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
}

h1{
    color: #E2CCBB;
} */