*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif; 
}

body {
    width: 100%;
    height: auto;
}

.headBand{
    width: 100%;
    height: 15%;
    display: flex;
    background-color: rgb(190, 142, 142);
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-repeat: no-repeat;
}

.nav-sticky {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
    height: 45px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-sticky li {
    display: inline;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: beige;
    font-weight: 500;
    font-size: 18px;
}

.nav-item:not(:last-child){
    margin-right: 25px;
}

.container {
    padding: 20px 150px;
}

.presentation {
    margin-top: 40px;
    height: 600px;
}

.presentation-img {
    position: relative;
    margin: 0 auto;
    background-image: url(./ressource/presentation/jonathan.jpg);
    background-size: cover;
    background-position: center;
    width: clamp(300px, 40vw, 400px);
    height: 450px;
    border-radius: 5px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.4);
}

.presentation-txt {
    position: absolute;
    background-color: #8AA8CC;
    width: 300px;
    padding: 15px;
    bottom: -150px;
    right: calc(-1 * clamp(300px, 40vw, 400px) /4);
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.presentation-txt p {
    font-family: Open sans, sans-serif;
}

.presentation-txt span {
    font-weight: 500;
}


@media (max-width: 600px) {
    .container {
        padding: 0;
    }

    .presentation {
        height: 620px;
    }
    .presentation-img {
        box-shadow: none;
    }

    .presentation-txt {
        right: 0;
    }
}

.form-group {
    padding: 0px 0px 8px 0px;
}

.form-group textarea {
    resize: both;
    max-width: 950px;
    max-height: max-content;
}


span.title   {
    font-size: 1.5em;
    color: #333;
}

#info {
    font-size: 1.2em;
}


.nav-link.active {
    font-weight: bold;
}


.row {
    padding: 10px 0px 15px 0px;
}

.row.form-group {
    padding: 0px 0px 8px 0px; 
}

.accueil {
    background-color:  rgb(190, 164, 142);
}

.projet {
    background-color: #A7BED3;

}

.contact {
    background-color: #C9DDD5;
}

.contact-form {
    display: flex;
    justify-content: center;
}

.container.form {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.grid {
    padding: 10px;
}

.heading {
    text-align: center;
}


.heading h1 {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #333;
    text-transform: uppercase;
    display: inline;
    font-size: 3rem;
    font-weight: 100;
    border-bottom: 3px double #333;
}

.slider-container {
    position: relative;
    display: block;
    margin: 0 auto;
    width: clamp(300px, 60vw, 600px);
    height: 500px;
    background-color: #121212;
    color: #fff;
    overflow: hidden;
    margin: 10px;
  }
  
  .slide-content {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    translate: -50% -55%;
    text-align: center;
  }
  
  .slide-content.active {
    display: block;
  }
  
  .slide-content img {
    object-fit: cover;
    object-position: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .slide-img {
    margin-top: 50px;
  }
  
  .slide-title {
    margin-top: 22px;
    color: #dcdcdc;
    font-size: 25px;
  }
  
  .slide-subtitle {
    margin-top: 10px;
    font-size: 20px;
    color: gray;
    font-weight: 300;
  }
  
  .slide-btn {
    margin-top: 40px;
    width: 200px;
    text-align: center;
    padding: 10px 15px;
    color: #cccccc;
    border: 2px solid gray;
    font-size: 24px;
    border-radius: 2px;
    cursor: pointer;
    z-index: 100;
    pointer-events: none;
  }
  
  .previous, .next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .previous {
    left: 30px;
  }
  
  .next {
    right: 30px;
  }
  
  .previous img, .next img {
    pointer-events: none;
    width: 50%;
  }
  
  .previous:hover, .next:hover {
    background-color: rgba(102, 102, 102, 0.193);
  }
  

/* .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
} */

/* .container {
    width: 100%;
    height: 100%;
    background-color: #333;
    background-image: url(ressource/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cadre {
    position: relative;
    box-sizing: content-box;
    width: 240px;
    height: 35px;
    border: solid #333 5px;
    border-radius: 3px;
    background-color: rgba(76, 76, 76, 0.9);
    left: 350px;
    right: 500px;
    top: 40%;
    padding: 20px;
    text-align: center;
    overflow-wrap: break-word;
}

@media screen and (max-width: 626px) {
    .cadre {
        box-sizing: content-box;
        border: solid #333 5px;
        border-radius: 3px;
        background-color: rgba(76, 76, 76, 0.9);
        left: 30%;
        margin-right: 10px;
        text-align: center;
        overflow-wrap: break-word;
    }

    .container {
        width: 100vh;
        background-color: #333;
        background-image: url(ressource/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
}

h1{
    color: #E2CCBB;
} */