*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif; 
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #333;
    background-image: url(ressource/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cadre {
    position: relative;
    box-sizing: content-box;
    width: 240px;
    height: 35px;
    border: solid #333 5px;
    border-radius: 3px;
    background-color: rgba(76, 76, 76, 0.9);
    left: 350px;
    right: 500px;
    top: 40%;
    padding: 20px;
    text-align: center;
    overflow-wrap: break-word;
}

@media screen and (max-width: 626px) {
    .cadre {
        box-sizing: content-box;
        border: solid #333 5px;
        border-radius: 3px;
        background-color: rgba(200, 195, 195, 0.9);
        left: 30%;
        margin-right: 10px;
        text-align: center;
        overflow-wrap: break-word;
    }

    .container {
        width: 100vh;
        background-color: #333;
        background-image: url(ressource/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
}

h1{
    color: #E2CCBB;
}